@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfdfd;
  --foreground: #121212;
  --border: #121212;
  --muted: #737373;
  --inverse-bg: #121212;
  --inverse-fg: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #f0f0f0;
    --border: #f0f0f0;
    --muted: #a3a3a3;
    --inverse-bg: #f0f0f0;
    --inverse-fg: #0f0f0f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Fallback to monospaced styling for that 'code' aesthetic */
  font-family: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
